.container{
    border: 2px solid;
    overflow: hidden;
    display: flex;
    margin: 100px;
  }
  .box{
      border: 1px solid;
      width:500px ;
      /* height: 500px; */
      margin: 20px;
      align-items: start;
  }
  .box img{
      width: 200px;
      float: left;
      margin: 10px;
      

  }
  .box p{
      font-size: 20px;
      font-family: sans-serif;
      text-align: justify;
      padding: 10px;
  }
  .box a{
      border: 1px solid;
      padding: 5px 20px;
      text-decoration: none;
      font-size: 19px;
      text-transform: uppercase;
      border-radius: 5px;
      background-color: blueviolet;
      color: antiquewhite;
      margin-left: 330px;

  
  ;
  }
  .box a:hover{
      background-color: brown;
      color: black;
      transition: 2s;
      border: none;
  }
  .one{
      background-image: url(4.jpg);
      height: 600px;
      width: 500px;
      margin: 20px;
  }
  .one h2{
      padding-top: 520px;
      font-size: 30px;
      text-align: center;
      color: rgb(206, 208, 209);
      font-family: sans-serif;
      text-transform: uppercase;
      opacity: 70%;
      
  }